/* normalize */
body {
    margin: 0;
}

.component {
    margin-bottom: -4px;
    border: none;
}

/* component hero */
.component__hero {
    width: 100%;
    height: 40vh;
}
@media (min-width: 768px) {
    .component__hero {
        height: 60vh;
    }
}
