<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TinyLove - Benefit Component</title>
    <link rel="stylesheet" href="benefit.css">
</head>
<body>
    <article class="benefit">
        <i class="benefit__icon"></i>
        <h1 class="benefit__title">Section Title</h1>
        <h2 class="benefit__subtitle">Heading of this section</h2>
        <p class="benefit__text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Deleniti laudantium minima atque!
            Porro maxime voluptatum provident est quae deserunt corrupti, ullam voluptas odio.
        </p>
    </article>
</body>
</html>