/* normalize */
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
}

/* storybook */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    background: #353535;
}
.project-name {
    color: white;
    font-size: 2rem;
    line-height: 1;
    box-sizing: border-box;
    max-width: 1400px;
    margin: 0 auto;
}
.menu {
    font-size: 1.3rem;
    box-sizing: border-box;
    width: 20%;
    margin-top: 5rem;
}
.components-details__summary,
.components-details__summary:link,
.components-details__summary:visited {
    color: #666666;
}
.container {
    width: 80%;
    margin-top: 5rem;
}
.components-demo__title {
    color: #353535;
    margin-top: 0;
}
.components-demo__code {
    font-size: 1.3rem;
    padding: 1rem;
    background: #F6F4F4;
    border: 1px solid #666666;
    border-radius: .5rem;
    overflow: auto;
}


/* specific component styles */
.component {
    margin-bottom: -4px;
    border: none;
}

/* hero */
/* .component__hero {
    width: 100%;
    height: 40vh;
}
@media (min-width: 768px) {
    .component__hero {
        height: 60vh;
    }
} */