<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reasons To Use - Box</title>
    <link rel="stylesheet" href="reasons-to-use-box.css">
</head>
<body>
    <div class="reasons-to-use-box">
        <img class="reasons-to-use-box__icon" src="https://dummyimage.com/40x40/c23e11/fff.png&text=Icon" alt="Ícone">
        <h1 class="reasons-to-use-box__title">Section title</h1>
        <h2 class="reasons-to-use-box__subtitle">Heading of this section</h2>
        <p class="reasons-to-use-box__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Aperiam, consequuntur exercitationem. 
            Nesciunt sunt ipsum provident repellat doloremque ad repellendus. 
            Minima a tempore aspernatur dolorum itaque ab qui quos dolorem beatae!
        </p>
    </div>
</body>
</html>