.reasons-to-use-box {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 2rem 1rem;
}

.reasons-to-use-box__title {
    font-size: 1.8rem;
    margin-bottom: .7rem;
}

.reasons-to-use-box__subtitle {
    font-size: 1.3rem;
    color: #8a949e;
    margin-bottom: .7rem;
}

.reasons-to-use-box__text {
    line-height: 1.2;
}