<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reasons To Use Box</title>
    <link rel="stylesheet" href="reasons-to-use-box.css">
</head>
<body>
    <div class="reasons-to-use-box">
        <img src="reasons-to-use-box__icon.png" alt="" class="reasons-to-use-box__icon">
        <h1 class="reasons-to-use__title">Section Title</h1>
        <h2 class="reasons-to-use-box__subtitle">Heading of this section</h2>
        <p class="reasons-to-use-box__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Iste, velit maiores quia autem corrupti perspiciatis consectetur 
            cupiditate est provident omnis ad rem, illo tempore obcaecati ipsum et, 
            impedit repudiandae quaerat!
        </p>
    </div>
</body>
</html>