@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    height: 40vh;
    width: 100vw;
    text-align: center;
    background: url("hero-background.jpg") no-repeat;
    background-size: 150% 100%;
    background-position: left bottom;
    border-bottom: 6px solid rgb(197, 76, 61);
}

.hero:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(197, 76, 61, 0.9);
}

.hero__text {
    display: none;
    line-height: 1.5;
}

.hero__title,
.hero__subtitle,
.hero__text {
    position: relative;
    color: white;
    padding: 0 1rem;
}

/* tablet */
@media (min-width: 768px) {
    .hero {
        height: 60vh;
        background-size: 150%;
        background-position: right top;
    }

    .hero__text {
        display: block;
    }

    .hero__title,
    .hero__subtitle,
    .hero__text {
        padding: 0 20%;
    }
}

/* desktop */
@media (min-width: 992px) {
    .hero {
        background-size: 100%;
        background-position: center;
    }
    .hero:before {
        display: none;
    }
    .hero__subtitle,
    .hero__text {
        padding-left: 50%;
        text-align: left;
    }
}